#quack
# binaries ~~folder~~
/bin/
/Build/
/build/
/build-*/
chdman

# vs stuff
.vs
ipch
ipch/*
*.opensdf
*.sdf
*.suo
*.vcxproj.user
*.VC.opendb
*.VC.db
/.vscode/

# cmake stuff
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
.ninja_*
build.ninja

# unix intermediate files
config.h
*.o
*.a
*.so
*.dylib

